body {
  color: #667;
  margin: 0;
  font-weight: 200;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

h1,
h3 {
  color: #212121;
  font-weight: 400;
  margin: 2rem 0 .5rem;
}

p {
  line-height: 1.4;
  margin: .5rem 0;
}

li {
  line-height: 1.5;
}

a {
  color: #14509F;
  text-decoration: none;
  transition: .2s color ease;
}

a:hover {
  color: #0B1B36;
  text-decoration: underline;
}


.Button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  transition: .2s color ease, .2s border-color ease;
}

.Button[disabled] {
  opacity: .21;
}

.Button--link {
  color: #14509F;
}

.Button--link:hover {
  text-decoration: underline;
}

.Button--link.is-active {
  color: #0B1B36;
  pointer-events: none;
}

.Wrapper {
  max-width: 860px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: left;
}

.List {
  margin: .5rem 0;
  padding: 0;
  list-style: none;
}

.List--inline li {
  display: inline-block;
  padding-right: .5rem;
}

.List--inline li:after {
  content: ",";
}

.List--inline .List-item--clean:after,
.List--inline li:last-child:after {
  content: "";
}

.Chart {
  margin: 1.5rem 0;
}